body{
 background-color: whitesmoke;
 height: auto;
 width: auto;
}
#titulo{
  text-align: center;
}
#boton{
  border-radius: 4px;
  background-color:beige;
}
.textoAzul{
  color: blue;
}
.articulo{
  margin: 1rem 0;
}
.botonOculto{
  display: none;
}